@model PaginadoAspMvc.ViewModels.IndexViewModels

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.personas)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.edad</td>
            </tr>
        }
    </tbody>
</table>
@{Html.RenderPartial("_Paginador", Model);}
